.calendar {
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	position: relative;
	background: var(--sl-color-black);
	background-clip: padding-box;
	border-radius: 0.5rem;
	border: 1px solid var(--sl-color-hairline-light);
	padding: 8px;
}

.title {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	row-gap: 2px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	height: 32px;
}

.button {
	display: inline-flex;
	width: 32px;
	height: 32px;
	outline: 0;
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	background: none;
	line-height: 24px;
	align-items: center;
	justify-content: center;
	color: var(--sl-color-text);
}

.button:hover,
.button:focus-visible {
	color: var(--sl-color-white);
}

.button:disabled {
	pointer-events: none;
}

.cell {
	width: 32px;
	height: 28px;
	display: flex;
	font: inherit;
	align-items: center;
	justify-content: center;
	user-select: none;
	padding: 0;
	outline: 0;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	background: none;
}

.cell[data-cell='week'] {
	font-size: 10px;
	font-weight: bold;
	color: var(--sl-color-accent-high);
}

.cell[data-cell='day'] {
	cursor: pointer;
}

.cell[data-cell='day']:not([data-selected]):not([data-range-between]):hover {
	color: var(--sl-color-white);
}

.cell[data-cell='day'][data-today] {
	font-weight: bold;
}

.cell[data-cell='day'][data-weekend] {
	color: var(--sl-color-orange);
}

.cell[data-cell='day'][data-overflow] {
	visibility: hidden;
}

.cell[data-cell='day'][data-focused]:focus-visible {
	border: 1px solid var(--sl-color-white);
	color: var(--sl-color-white);
}

.cell[data-cell='day'][data-selected] {
	color: var(--sl-color-text-invert);
	background: var(--sl-color-accent-high);
}

.cell[data-cell='day'][data-disabled] {
	opacity: 0.4;
	pointer-events: none;
}

.cell[data-cell='day'][data-range-start]:not([data-range-end]) {
	border-start-end-radius: 0;
	border-end-end-radius: 0;
}

.cell[data-cell='day'][data-range-end]:not([data-range-start]) {
	border-start-start-radius: 0;
	border-end-start-radius: 0;
}

.cell[data-cell='day'][data-range-between] {
	background-color: rgba(var(--sl-color-accent-high), 0.2);
	border-radius: 0;
}

.cell[data-cell='day'][data-week-start] {
	border-start-start-radius: 0.5rem;
	border-end-start-radius: 0.5rem;
}

.cell[data-cell='day'][data-week-end] {
	border-start-end-radius: 0.5rem;
	border-end-end-radius: 0.5rem;
}
