.pin {
	display: flex;
	gap: 16px;
	align-items: center;
	flex-direction: column;
}

.group {
	display: flex;
	gap: 8px;
	align-items: center;
}

.label {
	font-size: 22px;
}

.slot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 56px;
	width: 56px;
	line-height: 56px;
	cursor: text;
	border-radius: 0.5rem;
	border: 1px solid var(--sl-color-hairline-light);
	overflow: hidden;
	background: var(--sl-color-black);
	background-clip: padding-box;
}

.slot:hover {
	color: var(--sl-color-white);
	border-color: var(--sl-color-white);
}

.slot[data-focused] {
	border-color: var(--sl-color-accent-high);
}

.slot[data-concealed] {
	font-size: 64px;
}

.slot[data-placeholder] {
	color: var(--sl-color-hairline-light);
}

.slot[data-caret]::after {
	display: block;
	content: '';
	position: absolute;
	width: 1px;
	height: 26px;
	animation: blink 1.2s ease-out infinite;
	background: var(--sl-color-accent-high);
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
