---
import clsx from 'clsx'
import classes from './Table.module.css'

type Props = astroHTML.JSX.TableHTMLAttributes & {
	children: any
	class?: string
}

const { class: classProp, ...otherProps } = Astro.props
---

<table class={clsx(classes.table, classProp, 'not-content')} {...otherProps}>
	<slot />
</table>
