---
import { Code as CodeBlock } from '@astrojs/starlight/components'

type Props = {
	code: string
	class?: string
	language?: string
	identation?: number
}

const { code, class: classProp, language, identation = 2 } = Astro.props
const indent = new Array(identation).fill(' ').join('')
---

<style>
	.code {
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		overflow: hidden;
		color: var(--sl-color-gray-2);
	}

	.code :global([data-language]) {
		border: 0 !important;
	}

	.code :global(figcaption) {
		box-sizing: border-box;
		height: 32px !important;
		border-block-start: 0 !important;
		border-inline: 0 !important;
	}
</style>

<div class:list={['not-content', 'code', classProp]}>
	<CodeBlock lang={language} code={code.replace(/\t/g, indent)} />
</div>
