---
import clsx from 'clsx'
import classes from './Features.module.css'

type Props = astroHTML.JSX.LiHTMLAttributes & {
	class?: string;
	children: any;
}

const { class: classProp, ...otherProps } = Astro.props
---

<style>
	.feature {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	.icon {
		width: 24px;
		height: 24px;
		color: var(--sl-color-text-accent);
	}

	.description {
		margin: 0 !important;
	}
</style>

<li class:list={['not-content', 'feature', classProp]} {...otherProps}>
	<svg
		fill="currentColor"
		stroke="none"
		viewBox="0 0 24 24"
		class:list={['not-content', 'icon']}
		aria-hidden="true"
	>
		<path d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" />
	</svg>
	<p class:list={['not-content', 'description']}>
		<slot>
	</p>
</li>
