---
import Table from './Table.astro'
import TableCell from './TableCell.astro'
import TableRow from './TableRow.astro'
import Tooltip from './Tooltip.astro'
import InfoIcon from './InfoIcon.astro'

type Props = {
	props: {
		name: string
		type: string
		typeAdvanced?: string
		defaultValue: string
	}[]
}

const { props } = Astro.props
---

<style>
	.table {
		font-family: var(--__sl-font-mono);
		font-size: var(--sl-text-code);
	}

	.cell {
		width: 30%;
	}

	.types {
		display: flex;
		align-items: center;
	}

	.types-tip {
		margin-inline-start: 10px;
	}
</style>

<Table class='table'>
	<thead>
		<TableRow>
			<TableCell as="th">Prop</TableCell>
			<TableCell as="th">Type</TableCell>
			<TableCell as="th">Default</TableCell>
		</TableRow>
	</thead>
	<tbody>
		{props.map(({ name, type, typeAdvanced, defaultValue = '-' }) => (
			<TableRow>
				<TableCell class='cell'>{name}</TableCell>
				<TableCell>
					<div class='types'>
						{type}
						{typeAdvanced && 
							<Tooltip class="types-tip" text={typeAdvanced}>
								<InfoIcon />
							</Tooltip>
						}
					</div>
				</TableCell>
				<TableCell>
					{defaultValue}
				</TableCell>
			</TableRow>
		))}
	</tbody>
</Table>
