---
type Props = astroHTML.JSX.TdHTMLAttributes & {
	"as"?: 'td' | 'th';
	class?: string;
	children: any;
}

const { as: Component = 'td', class: classProp, ...otherProps } = Astro.props
---

<style>
	.cell {
		border: 0;
		padding-inline: 1rem;
	}

	.cell.th {
		height: 32px;
		text-align: start;
	}

	.cell.td {
		border: 0;
		padding-inline: 1rem;
		border-block-start: 1px solid var(--sl-color-gray-5);
		background: var(--sl-color-gray-6);
		padding-block: 0.5rem;
	}
</style>

<div class:list={['not-content', 'cell', Component, classProp]} {...otherProps}>
	<slot />
</div>
