.textarea {
	border-radius: 0.5rem;
	border: 1px solid var(--sl-color-hairline-light);
	padding: 6px;
	outline: none;
	overflow: hidden;
	background: var(--sl-color-black);
	background-clip: padding-box;
}

.textarea:hover {
	color: var(--sl-color-white);
	border-color: var(--sl-color-white);
}

.textarea:focus {
	border-color: var(--sl-color-accent-high);
}
