.countdown {
	display: flex;
	gap: 16px;
	align-items: center;
	flex-direction: column;
}

.label {
	font-size: 22px;
}

.group {
	display: flex;
	gap: 8px;
}

.flipclock {
	text-align: center;
}

.flipclock [data-clock] {
	width: 60px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	color: var(--sl-color-white);
	border-radius: 0.5rem;
	user-select: none;
}

.flipclock [data-clock-upper],
.flipclock [data-clock-lower] {
	border-radius: 0.5rem;
	background: var(--sl-color-black);
	border: 1px solid var(--sl-color-hairline-light);
}


.flipclock [data-clock-upper]::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 100%;
	background: var(--sl-color-text-invert);
}

.flipclock [data-clock-text] {
	transform: translateY(-2px);
}
