---
import { Code as CodeBlock } from '@astrojs/starlight/components'
import clsx from 'clsx'
import classes from './Code.module.css'

type Props = {
	code: string
	class?: string
	language?: string
	identation?: number
}

const { code, class: classProp, language, identation = 2 } = Astro.props
const indent = new Array(identation).fill(' ').join('')
---

<div class={clsx(classes.code, classProp, 'not-content')}>
	<CodeBlock lang={language} code={code.replace(/\t/g, indent)} />
</div>
